<div class="container mb-5">
    <div class="jumbotron">
        <h1 class="display-4">About this Angular App</h1>
        <p class="lead">This is a one page To Do list application which uses your local storage to store your "To Do's".
        </p><br>
        <p>Here you can :</p>
        <ul>
            <li>Add To Do work</li>
            <li>Change the status To Do activity</li>
            <li>Delete To-Do from the list</li>
            <li>Routing feature is also available </li>
        </ul>
        <hr class="my-4">
        <p>Tech Stack used is Angular.js, Typescript, Bootstrap and HTML</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>